@model UserGreetingWeb.Models.User

<h1>Ecco la registrazione</h1>
<form method="post" asp-controller="Register" asp-action="Salva">
    <label asp-for="Nome">Nome</label>
    <input asp-for="Nome" />
    <button type="submit" class="btn btn-success">Invia</button>
</form>
