@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-info">Benvenuto nella nostra Applicazione</h1>
    <a class="btn btn-success" asp-controller="Register" asp-action="Index">Hello</a>


</div>
