@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-info">Benvenuto nella nostra Applicazione</h1>
    <p>Registrati per accedere ai contenuti</p>
    <a class="btn btn-success" asp-controller="Register" asp-action="Index">Registrati</a>
</div>
